body{
background-color: #F0F7F4;
font-family: 'Oxygen', sans-serif;
margin: 0px;
padding: 0px;
}

h1{
  margin: 0px;
}

p{
  margin: 3px;
}

.title{
  position: relative;
  background-color: #705D56;
  color: #F0F7F4;
  width: 100%;
  margin: 0px;
  padding: 10px 15px;
}

.copyright{
    display: absolute;
  width: 250px;
  height: 50px;
}
.links{
  display: absolute;
    width: 500px;
    height: 20px;
  left: 0px;
  bottom: 0px;
  justify-content: flex-end;
  align-items: flex-end;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

img{
  border: 5px solid #32292F;
  margin: 2%;
  height: 450px;
  width: 300px;
}

.searchbox{
  background-color: #705D56;
  border: 5px solid #32292F;
  margin: 2%;
  height: 450px;
  width: 300px;
}

.submitbox{
  background-color: #705D56;
  border: 5px solid #32292F;
  margin: 2%;
  height: 450px;
  width: 300px;
}


/*#wrapper .captions {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapper:hover .captions {
visibility:visible;
}*/


hr{
  background-color: #32292F;
  border: none;
  height: 3px;
  border-radius: 20%;
}

a{
  color: #32292F;
  text-decoration: none;
  margin: 5px;
}

a:hover{
  color: #70ABAF;
}

.container{
  margin: 10% 5%;
  background-color: #99E1D9;
  justify-content: center;
}

.captions{
  width: 15em;
  height:20em;
  margin: 10% 5%;
}

.content{
display:inline-block;
 vertical-align:top;
 margin-top: 6%;
 margin-right: 5%;
 margin-left: 15%;
 margin-bottom: 6%;
width: 15em;
height:22.5em;
}
